{
	"presets": [
    "react",
		"es2015",
    "stage-0"
	],
	"plugins": [
		"transform-object-rest-spread",
    "syntax-async-functions",
    "transform-decorators-legacy",
    "jsx-control-statements",
    ["typecheck", {
      "disable": {
        "production": true
      }
    }],
    ["transform-react-constant-elements", {
      "disable": {
        "development": true
      }
    }],
    ["transform-regenerator", {
        "asyncGenerators": false,
        "generators": false,
        "async": true
    }],
    ["transform-runtime", {
      "polyfill": false,
      "regenerator": true
    }]
	],
  "env": {
    "development": {
      "presets": ["react-hmre"]
    }
  }
}
