{
  "extends": "airbnb",
  "parser": "babel-eslint",
  "rules": {
    "max-len": 0,
    "no-console": 0,
    "no-nested-ternary": 0,
    "func-names": 0,
    "jsx-control-statements/jsx-choose-not-empty": 1,
    "jsx-control-statements/jsx-for-require-each": 1,
    "jsx-control-statements/jsx-for-require-of": 1,
    "jsx-control-statements/jsx-if-require-condition": 1,
    "jsx-control-statements/jsx-otherwise-once-last": 1,
    "jsx-control-statements/jsx-use-if-tag": 1,
    "jsx-control-statements/jsx-when-require-condition": 1
  },
  "plugins": [
    "jsx-control-statements"
  ],
  "globals": {
    "If": true,
    "Else": true,
    "For": true,
    "Choose": true,
    "When": true,
    "Otherwise": true,
  }
}
